::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: #f5f8fc;
}
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 20px;
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* 
.CopyCodeButtonClick {
  display: flex ;
  animation: CopyCodeButtonClickAnimation 2s forwards;
}
@keyframes CopyCodeButtonClickAnimation {
  0% {
    display: none;
    left: 1rem;
  }
  5% {
    display: none;
    left: -3rem;
  }
  40% {
    display: flex ;
    left: -3rem;
  }
  60% {
    display: flex ;
    left: -3rem;
  }
  95% {
    display: none;
    left: -3rem;
  }
  100% {
    display: none ;
    left: 1rem;
  }
} */

.LeftSideNavToLeft {
  animation: LeftSideNavToLeftAnimation 0.3s forwards;
}
@keyframes LeftSideNavToLeftAnimation {
  0% {
    left: 0px;
  }
  100% {
    left: -165px;
  }
}

.LeftSideNavToRight {
  animation: LeftSideNavToRightAnimation 0.3s backwards;
}
@keyframes LeftSideNavToRightAnimation {
  0% {
    left: -165px;
  }
  100% {
    left: 0px;
  }
}
